body {
  background-color: rebeccapurple;
  margin: 0;
  font-family: "Exo 2", serif;
  font-weight: 400;
  font-style: normal;
}
.main_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% of the viewport height */
}
.header {
  background-color: #1c0e2a;
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-family: "New Amsterdam", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
.nav {
  background-color: #1c0e2a;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  gap: 2rem;
  text-align: center;
  height: 275px;
}
.content_container {
  flex: 1;
  display: flex;
  gap: 1rem;
}
.footer {
  background-color: #1c0e2a;
  color: white;
  text-align: center;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.main {
  flex: 1;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
/* left box is the same as right box, but width set
to 66%. haven't found a way to set this in the
parent container*/
.lbox {
  background-color: #7e3fbd;
  color: #1c0e2a;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  text-align: center;
  min-width: 66%;
  gap: 1rem;
  border: #1c0e2a solid 2px;
  border-radius: 1rem;
}
.rbox {
  background-color: #7e3fbd;
  color: #1c0e2a;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  text-align: center;
  gap: 1rem;
  border: #1c0e2a solid 2px;
  border-radius: 1rem;
}
.content {
  background-color: #1c0e2a;
  color: white;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: white solid 2px;
  text-align: left;
  border-radius: 1rem;
  gap: 0.5rem;
}
img {
  width: 100%;
  height: auto;
}
#floatLeft25 {
  float: left;
  margin: 0 1rem 1rem 0;
  width: 25%;
}
#floatRight25 {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 25%;
}
#floatLeft50 {
  float: left;
  margin: 0 1rem 1rem 0;
  width: 50%;
}
#floatRight50 {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 50%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
a {
  color: white;
  text-decoration: none;
  margin: 0px;
}
.email {
  width: auto;
  padding: 0px;
}
h1 {
  margin: 1rem;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}
h4 {
  margin: 0px;
}
h5 {
  margin: 0px;
}
a.selected {
  background-color: rebeccapurple;
  width: 5rem;
  padding: 1rem;
}
ol {
  color: white;
}
li {
  color: white;
}
p {
  margin: 0px;
  color: white;
}
p.home {
  margin: 0px;
  color: white;
  font-size: 1.25rem;
}
hr {
  color: #7e3fbd;
  width: 100%;
}
th {
  background-color: #7e3fbd;
  color: white;
  font-size: 1.25rem;
}
td,
table {
  border: 2px solid #7e3fbd;
  border-collapse: collapse;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
